

  <div class="profile_content">
   
    <div class="name">
      <%= image_tag((current_user.profile.image || "http://placehold.it/200x200"), width: "130px", height:"130px", class:"profile_img") %>
    </div>

    <div class="photo">
        <h1><%= current_user.profile.first_name || "First Name" %> <%= current_user.profile.last_name || "Last Name" %></h1>
    </div>

  </div>

<!--   <div class="profile_data">

    <% if current_user.profile.school %>
      <h4 class="profile_data"><%= current_user.profile.school%></h4>
    <% end %>
    <% if current_user.profile.expected_graduation %>
      <h4 class="profile_data">Class of  <%= current_user.profile.expected_graduation %></h4>
    <% end %>
      <h4 class="profile_data"><%= current_user.profile.city%>,
      <%= current_user.profile.state%> <a href="#edit" data-toggle="modal">Edit</a>
      </h4>
  </div> -->
   

    



<div class="modal fade" id="edit" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <%= render 'profiles/edit' %>
      </div>
      <div class="modal-footer">
          <a class="btn btn-default" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>